{% load static %}
<!doctype html>
<html>
    <head>
        <title>Scrumptious Recipes</title>
        <link href="{% static "css/recipes.css" %}" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="beige-text">Main page</a>

            </nav>
        </header>
        <main>
            <h1>Scrumptious Recipes</h1>
            <h2>All the foods that's fit to eat</h2>
            <div class ="recipe-grid">
                {%for recipe in recipe_list %}
                <div>
                    <h3>
                        <a href = "detail.html">{{ recipe.title }}</a>
                    </h3>
                    <img src= "{{ recipe.picture }}">
                    <div>
                        4.3 stars
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        <footer>Made with love by Scrumptious Recipes</footer>

    </body>

</html>
