@import url('https://fonts.google.com/specimen/Prompt');
body{
    font-family: 'Prompt', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

main {
    padding : 16px;
}

footer {
    padding : 24px 0;
    position : absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
}

img {
    height: 200px;
}

nav {
border-bottom: 1px black;
padding: 16px;
}

.recipe-grid{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}

a {
    text-decoration: none;
}

nav {
    color: #BFB195;
    background-color: #473D29;
}

nav{
    border-bottom-color:#403B32;
}

footer {
    padding: 24px;
}

tr:nth-child(even) {
    background-color: #CAA761;
    border: 1px solid #F0EAD6;
}

h1 {
    font-size: 32px;
}

a.beige-text {
color: #BFB195;
}

footer {
    background-color:#877D69 ;
}

a {
    color: #C9A761
}

main {
    border-top: 5px solid lightgray;
    background-color: #F0EAD6;
}
header {
    padding-bottom: 24px;
}

img {
    border-radius: 10px
}

title {
    border-bottom: 10px solid #473D29;
}
