{% extends 'base.html' %}

{% block content %}
  <div class="hero-section">
    <h1>Welcome to Savory Steps</h1>
    <p>Get inspired to cook with our vast collection of recipes!</p>
    <form class="search-form" action="{% url 'recipe_list' %}" method="GET">
      <input type="text" name="search_term" placeholder="Search for recipes...">
      <input type="checkbox" name="gluten_free" id="gluten_free">
      <label for="gluten_free">Gluten-free</label>
      <button type="submit">Search</button>
    </form>
  </div>
  
  <div class="featured-recipes">
    <h2>Featured Recipes</h2>
    {% for recipe in featured_recipes %}
      <div class="recipe-card">
        <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">
        <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></h3>
        <p>{{ recipe.description }}</p>
        <ul class="recipe-meta">
          <li><i class="far fa-clock"></i> {{ recipe.prep_time }} min</li>
          <li><i class="fas fa-utensils"></i> {{ recipe.servings }} servings</li>
          {% if recipe.gluten_free %}
            <li><i class="fas fa-ban"></i> Gluten-free</li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block styles %}
  <style>
    .hero-section {
      background-image: url('https://images.unsplash.com/photo-1562104386-872d4d4f4c32');
      background-size: cover;
      background-position: center;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
    }

    .search-form {
      display: flex;
      margin-top: 20px;
    }

    .search-form input[type="text"] {
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
    }

    .search-form input[type="checkbox"] {
      margin-right: 10px;
    }

    .search-form button[type="submit"] {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .featured-recipes {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }

    .recipe-card {
      width: 300px;
      margin: 10px;
      border: 1px solid #ddd;
      box-shadow: 2px 2px 5px #eee;
    }

    .recipe-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .recipe-card h3 {
      padding: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  </style>
{% endblock %}
